<footer class="footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget mb-4">
            <h2 class="logo"><a href="#">AJA<span>.</span></a></h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
              <li class="ftco-animate"><a href="https://twitter.com/Aja53584875?s=08"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="https://www.facebook.com/Ajaa-105324201833260/"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="https://www.instagram.com/invites/contact/?i=1ktagj3kj19vp&utm_content=m5fparh"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Services</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Oil Change</a></li>
              <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Batteries</a></li>
              <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Tow Truck</a></li>
              <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Tire Change</a></li>
              <li><a href="#" class="py-1 d-block"><span class="fa fa-check mr-3"></span>Engine Repair</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Contact information</h2>
              <div class="block-23 mb-3">
                <ul>
                   <li><a href="mailto:ajaaautomobile@gmail.com"><span class="icon fa fa-paper-plane"></span><span class="text">ajaaautomobile@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Business Hours</h2>
            <div class="opening-hours">
                <h4>Opening Days:</h4>
                <p class="pl-3">
                    <span>Open - 24 Hour</span>
                   
                </p>
               
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Aaja Auto Mobiles All rights reserved 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>
  


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

  

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
  
</body>









<script>
  

  $.getJSON(`/category/all`, data => {
      categories = data
      fillDropDown('categoryid', data, 'Choose Vehicles', 0)
  })


  $.getJSON(`/brand/all`, data => {
      brands = data
      fillDropDown('brandid', [], 'Choose Brand', 0)
  })


  $.getJSON(`/model/all`, data => {
      models = data
      fillDropDown('modelid', [], 'Choose Model', 0)
  })



  $('#categoryid').change(() => {
      const filteredData = brands.filter(item => item.categoryid == $('#categoryid').val())
      fillDropDown('brandid', filteredData, 'Choose Brand', 0)
  })



  
  $('#brandid').change(() => {
      const filteredData = models.filter(item => item.brandid == $('#brandid').val())
      fillDropDown('modelid', filteredData, 'Choose Model Number', 0)
  })



  function fillDropDown(id, data, label, selectedid = 0) {
      $(`#${id}`).empty()
      $(`#${id}`).append($('<option>').val("null").text(label))

      $.each(data, (i, item) => {
          if (item.id == selectedid) {
              $(`#${id}`).append($('<option selected>').val(item.id).text(item.name))
          } else {
              $(`#${id}`).append($('<option>').val(item.id).text(item.name))
          }
      })
  }







$('.submit_enquiry').click(function(){

  if($('#service_type').val() == '' || $('#service_type').val() == "null") alert('Select Services')

  else if($('#categoryid').val() == '' || $('#categoryid').val() == "null" )  alert('Select Vehicle Type')
  else if($('#brandid').val() == '' || $('#brandid').val() == "null" )  alert('Select Brand')
  else if($('#modelid').val() == '' || $('#modelid').val() == "null" )  alert('Select Model')
  else if($('#name').val() == '' || $('#name').val() == "null" )  alert('Enter Name')
  else if($('#number').val() == '' || $('#number').val() == "null" )  alert('Enter Mobile Number')
  else if($('#date').val() =='' || $('#data').val()=="null") alert('Select Date')
  else if($('#vehicle_number').val() == '' || $('#vehicle_number').val() == "null") alert('Enter Vehicle Number')
  else if($('#issue').val() == '' || $('#issue').val() == "null") alert('Type Your Issues')
  else {

  let categoryid = $('#categoryid').val()
  let brandid = $('#brandid').val()
  let modelid = $('#modelid').val()
  let name = $('#name').val()
  let number = $('#number').val()
  let date = $('#date').val()
  let vehicle_number = $('#vehicle_number').val()
  let issue = $('#issue').val()
  let service_type = $('#service_type').val()

$.post('/api/create-enquiry',{categoryid,brandid,modelid,name,number,date,vehicle_number,issue,service_type},data=>{
  alert('Your Enquiry Submitted Successfully Our Team Will Contact you soon.')
})

  }


})


</script>

</html>